@page
@{
    ViewData["Title"] = "Blogifier";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Slayton Nichols - Home</title>
    <link href="home/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/themes/cleanblog/css/clean-blog.css" rel="stylesheet">
    <link href="home/resume.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="~/">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="~/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a id="about" class="nav-link" href="~/posts/introduction">About/Intro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://linkedin.com/in/slaytonnichols">LinkedIn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/SlaytonNichols">Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>Full Stack Software Developer</h1>
                        <h2 class="subheading">Passionate about the outdoors, all things tech, learning, and building software.</h2>
                        @*<h5>Contact me <a href="#" data-toggle="modal" data-target="#contact-modal">here</a> for a consultation</h5>*@
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Button trigger modal -->
    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contact-modal">
        Launch demo modal
    </button>*@

    <!-- Modal -->
    <div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contact-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                test
                            </div>
                            <div class="col-md-6 ml-auto">
                                test
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 ml-auto">.col-md-6 .ml-auto</div>
                        </div>                        
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 post-content resume mx-auto">
                    <section>
                        <div class="sectionTitle">
                            <h4>Work Experience</h4>
                        </div>
                        <div class="sectionContent">
                            <article>
                                <h5>Software Developer at SJV Data Solutions</h5>
                                <p class="subDetails">February 2020 - Present</p>
                                <ul style="list-style-type: none;">
                                    <li>Brief description of accomplishments and responsibilities to come.</li>
                                </ul>
                            </article>
                            <hr>
                            <article>
                                <h5>Junior Software Developer at SJV Data Solutions</h5>
                                <p class="subDetails">December 2018 - February 2020</p>
                                <ul style="list-style-type: none;">
                                    <li>Brief description of accomplishments and responsibilities to come.</li>
                                </ul>
                            </article>
                            <hr>
                            <article>
                                <h5>Junior Software Developer at Coded Alchemy</h5>
                                <p class="subDetails">February 2018 - March 2020</p>
                                <ul style="list-style-type: none;">
                                    <li>Programmed in C# and JavaScript using best practices and modern design patterns.</li>
                                    <li>Developed front-end using Html, CSS, JavaScript, and Bootstrap</li>
                                    <li>
                                        Extensive work implementing design patterns and working with architecture of a large scale application.
                                    </li>
                                    <li>
                                        Worked closely with development team to ensure the architecture of the application was a success.
                                    </li>
                                    <li>Created project road-map using Azure DevOps this entailed detailing every feature of the application and how it would benefit the user.</li>
                                </ul>
                            </article>
                            <hr>
                            <article>
                                <h5>Software Developer at TQS Enterprises</h5>
                                <p class="subDetails">August 2016 - November 2018</p>
                                <ul style="list-style-type: none;">
                                    <li>Only Software Developer employed by TQS Enterprises Inc. which provided in-depth experience with full life cycle development and understanding the needs of the business owner.</li>
                                    <li>Involved in Project Estimation, delegation, planning and execution process.</li>
                                    <li>Led requirements sessions with business teams to develop user stories.</li>
                                    <li>Performed in the roles of Projects development and Implementation.</li>
                                    <li>Developed an inventory management system for forecasting purchases from various distributors using NodeJS, C#, and the MVC design pattern.</li>
                                    <li>Created a shipping logistics application for use between TQS and Amazon's FBA program.</li>
                                    <li>Worked extensively with Amazon's MWS.</li>
                                </ul>
                            </article>
                        </div>
                        <div class="clear"></div>
                    </section>
                </div>
            </div>
            <hr>
            <div class="row post-content resume">
                <div class="col-lg-9 col-md-12 col-sm-12 offset-lg-2">
                    <section>
                        <div class="sectionTitle">
                            <h4>Key Skills</h4>
                        </div>

                        <ul class="keySkills" style="list-style-type: none; text-align: center;">
                            <li>C#</li>
                            <li>ASP.NET</li>
                            <li>dotnet core 2.1+</li>
                            <li>jQuery</li>
                            <li>Javascript</li>
                            <li>Docker</li>
                            <li>MSSQL</li>
                            <li>AWS</li>
                            <li>Azure</li>
                            <li>Adaptable</li>
                            <li>Team Player</li>
                        </ul>
                        <div class="clear"></div>
                    </section>
                </div>
            </div>
            <hr>
        </div>
    </article>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="">
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Built with Blogifier and Curiosity, by Slayton Nichols - Copyright &copy; @ViewData["BlogTitle"] @DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="home/assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>
    <script src="home/assets/js/vendor/popper.min.js"></script>
    <script src="home/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
</body>

</html>