version: "3.9"
services:
  "${APP_NAME}":
    image: ghcr.io/${IMAGE_REPO}:${RELEASE_VERSION}
    restart: always
    network_mode: bridge
    ports:
      - "80"
    environment:
      VIRTUAL_HOST: ${HOST_DOMAIN}
      LETSENCRYPT_HOST: ${HOST_DOMAIN}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL}
      DEPLOY_API: ${DEPLOY_API}
      DEPLOY_CDN: ${DEPLOY_CDN}
      ConnectionStrings__DefaultConnection: ${DEFAULTCONNECTION}
      AuthKeyBase64: ${AUTHKEYBASE64}
    labels:
      com.datadoghq.ad.logs: '[{"source": "docker", "service": "${APP_NAME}"}]'
  "${APP_NAME}-migration":
    image: ghcr.io/${IMAGE_REPO}:${RELEASE_VERSION}
    restart: "no"
    profiles:
      - migration
    environment:
      ConnectionStrings__DefaultConnection: ${DEFAULTCONNECTION}
      AuthKeyBase64: ${AUTHKEYBASE64}
    labels:
      com.datadoghq.ad.logs: '[{"source": "docker", "service": "${APP_NAME}-migration"}]'
    command: --AppTasks=migrate
  datadog:
    image: gcr.io/datadoghq/agent:7
    pid: host
    environment:
      - DD_API_KEY=${DD_API_KEY}
      - DD_SITE=${DD_SITE}
      - DD_LOGS_ENABLED=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /proc/:/host/proc:ro
      - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro
